body {
    margin: 0;
    padding: 0;
    background-color: lavenderblush;
    height: 100vh;
    width: 100vh;
}

.heart {
    background-color: magenta;
    height: 2rem;
    width: 2rem;
    position: absolute;
    top: 3rem;
    left: 3rem;
    transform: rotate(-49deg);
}

.heart::before,
.heart::after {
    content: '';
    background-color: magenta;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    position: absolute;
}

.heart::before {
    top: -1rem;
    left: 0;
}

.heart::after {
    top: 0;
    left: 1rem;
}